<!DOCTYPE html>
<html lang="en">
<head>
    <title>15 Tatil - Kalan Süre</title>
    <%- include('components/head.ejs') %>
</head>
<body>
    <%- include('include/bar.ejs') %>
    <%- include('components/background.ejs') %>
    <%- include('components/timer.ejs') %>
    <div class="top-view-count">
        <%= totalViews %>
    </div>
    <script src="js/video.js"></script>
    <script src="js/15.js"></script>
</body>
</html>